<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egoo.user">

    <select id="allUserInvoke" resultType="com.tianma.spring.mvc.domain.security.User">
        select * from user;
    </select>

    <delete id="deleteUserByName" parameterType="com.tianma.spring.mvc.domain.security.User">
        delete from user where username=#{username};
    </delete>

    <insert id="insertUser" parameterType="com.tianma.spring.mvc.domain.security.User">
        insert into user(username, password) values(#{username}, #{password})
    </insert>

    <update id="updateUser" parameterType="com.tianma.spring.mvc.domain.security.User">
        update user set password=#{password} where username=#{username}
    </update>
</mapper>