<ul class="page-sidebar-menu">
	<li>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler hidden-phone">

		</div>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	</li>

	<!-- BEGIN 应用托管　-->
	<li class="start">
		<a target="_self" href="http://192.168.1.120:8080">
			<i class="icon-signin"></i>
			<span class="title">应用托管</span>
		</a>
	</li>
	<!-- END 应用托管　-->

	<!-- BEGIN 应用托管　-->
	<li class="">
		<a target="_blank" href="http://192.168.1.119:8991">
			<i class="icon-cog"></i>
			<span class="title">配置中心</span>
		</a>
	</li>
	<!-- END 应用托管　-->

	<!-- BEGIN 应用托管　-->
	<li class="">
		<a target="_blank" href="http://112.74.77.115:15672">
			<i class="icon-reorder"></i>
			<span class="title">消息队列</span>
		</a>
	</li>
	<!-- END 应用托管　-->

	<!-- BEGIN 应用托管　-->
	<li class="last">
		<a target="_blank" href="/dev/history">
			<i class="icon-reorder"></i>
			<span class="title">平台历程</span>
		</a>
	</li>
	<!-- END 应用托管　-->
</ul>
